<div class="row more more-aboutus">
  <div class="col-md-1 col-lg-1">
    <!-- <div class="more-aboutus-head" id="more">
      <div class="more-abt--head__txt">Facilities</div>
      <div class="more-abt--head__txt-sub">
        UoH - Bio-incubator Nurturing Entrepreneurship For Scaling Technologies
      </div>
    </div> -->
  </div>
  <div class="col-xs-12 col-md-10 col-lg-10 more-aboutus-content word-spacing-8">
    <div class="main-heading"> <span> </span> Facilities <span> </span> </div>

    <!-- <div class="more-cont--head">
      Laboratory space
    </div>
    <div class="more-cont--blck">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Startup</th>
            <th>Thrust Area</th>
            <th>Promoter Name</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Vectrogen Biologics Pvt. Ltd.</td>
            <td>Bio Pharmaceuticals</td>
            <td>Dr. Thanuja Krishnamoorthy</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Albus Ecoprojects Pvt Ltd</td>
            <td>Industrial Enzymes</td>
            <td>Dr. K Prasad Reddy</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Therazymes Pvt Ltd</td>
            <td>Industrial Enzymes</td>
            <td>Dr. Koti Reddy</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Reagene BioSciences Pvt. Ltd.</td>
            <td>Diagnostics</td>
            <td>Dr. Subrahmanyam Vangala</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Avyantra Health Technologies Pvt. Ltd.</td>
            <td>Diagnostics</td>
            <td>Mr. KVKLN Rao</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Sri BioAesthetics Pvt. LTd.</td>
            <td>Agribusiness</td>
            <td>Dr. KRK Reddy</td>
          </tr>
        </tbody>
      </table>
    </div> -->
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="more-cont--head">
          Instrument Facilities
        </div>
        <div class="alerts">
            <div class="alert alert-success" role="alert">
             <strong>Millipore Water Purification </strong>
            </div>
            <div class="alert alert-info" role="alert">
             <strong>Water Bath</strong>
            </div>
            <div class="alert alert-warning" role="alert">
             <strong>Nanodrop</strong>
            </div>
            <div class="alert alert-danger" role="alert">
             <strong>High-speed Centrifuge</strong>
            </div>
            <div class="alert alert-success" role="alert">
             <strong>Sonicator </strong>
            </div>
            <div class="alert alert-info" role="alert">
             <strong>Roto-evaporator</strong>
            </div>
            <div class="alert alert-warning" role="alert">
             <strong>Liquid Nitrogen Cans</strong>
            </div>
            <div class="alert alert-danger" role="alert">
             <strong>CO2 Incubator</strong>
            </div>
            <div class="alert alert-success" role="alert">
             <strong>Laminar Hoods</strong>
            </div>
            <div class="alert alert-info" role="alert">
             <strong>Spectrophotometer</strong>
            </div>
            <div class="alert alert-warning" role="alert">
             <strong>500LPH RO Plant</strong>
            </div>
            <div class="alert alert-danger" role="alert">
             <strong>Minispin</strong>
            </div>
            <div class="alert alert-success" role="alert">
             <strong>Thermomixer</strong>
            </div>
            <div class="alert alert-info" role="alert">
             <strong>Hot air Oven</strong>
            </div>
            <div class="alert alert-warning" role="alert">
             <strong>Precision Balance CG1202</strong>
            </div>
            <div class="alert alert-success" role="alert">
             <strong>Ice Flaking machine </strong>
            </div>
            <div class="alert alert-info" role="alert">
             <strong>Electrophoresis</strong>
            </div>
            <div class="alert alert-warning" role="alert">
             <strong>Pipettes</strong>
            </div>
            <div class="alert alert-danger" role="alert">
             <strong>pH meter</strong>
            </div>
            <div class="alert alert-success" role="alert">
             <strong>ELISA reader </strong>
            </div>
            <div class="alert alert-info" role="alert">
             <strong>Autoclave</strong>
            </div>
            <div class="alert alert-warning" role="alert">
             <strong>Analytical Balance CY265C</strong>
            </div>
            <div class="alert alert-danger" role="alert">
             <strong>Refrigerator (400L)</strong>
            </div>
            <div class="alert alert-success" role="alert">
             <strong>Thermal Cycler PCR </strong>
            </div>
            <div class="alert alert-info" role="alert">
             <strong>Geldoc</strong>
            </div>
            <div class="alert alert-warning" role="alert">
             <strong>Freezer (-200C) 350L</strong>
            </div>
            <div class="alert alert-danger" role="alert">
             <strong>BOD incubator</strong>
            </div>
            <div class="alert alert-success" role="alert">
             <strong>Orbital Shaker </strong>
            </div>
            <div class="alert alert-info" role="alert">
             <strong>-80'C Freezer</strong>
            </div>
            <div class="alert alert-warning" role="alert">
             <strong>Microscope</strong>
            </div>
            <div class="alert alert-danger" role="alert">
             <strong>HPLC</strong>
            </div>
            <div class="alert alert-success" role="alert">
             <strong>Chemidoc </strong>
            </div>
            <div class="alert alert-info" role="alert">
             <strong>Gel Rocker</strong>
            </div>
            <div class="alert alert-warning" role="alert">
             <strong>Agarose electrophoresis unit</strong>
            </div>


           </div>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-6">
        <div class="more-cont--head">
          Laboratory Facilities
        </div>
        <h6> Co Working Space </h6>
        <img src="../../assets/images/labfac/coworkspace.jpg" class="facility-images">
        <div>&nbsp;</div>

        <h6> Common Instrument Facility </h6>
        <img src="../../assets/images/labfac/commInstr.jpg" class="facility-images">
        <div>&nbsp;</div>

        <h6> Laboratory space 250 Sft </h6>
        <img src="../../assets/images/labfac/labSpace250.jpg" class="facility-images">
        <div>&nbsp;</div>

        <h6> Laboratory space 350 Sft </h6>
        <img src="../../assets/images/labfac/labSpace350.jpg" class="facility-images">
        <div>&nbsp;</div>

        <h6> Microbila culture facility </h6>
        <img src="../../assets/images/labfac/microbCult.jpg" class="facility-images">
        <div>&nbsp;</div>

        <h6> Common Instrument Facility </h6>
        <img src="../../assets/images/labfac/commInstr2.jpg" class="facility-images">
        <div>&nbsp;</div>

        <h6> Corridor view of BioNEST </h6>
        <img src="../../assets/images/labfac/corridor.jpg" class="facility-images">
        <div>&nbsp;</div>

      </div>
    </div>
  </div>
</div>
