
<div class="row more more-aboutus">
  <div class="col-xs-12 col-md-3 col-lg-3">
    <div class="more-aboutus-head" id="more">
        <div class="more-abt--head__txt"> ABOUT </div>
        <div class="more-abt--head__txt-sub">
            UoH - Bio-incubator Nurturing Entrepreneurship For Scaling Technologies
        </div>
      </div>
  </div>
  <div class="col-xs-12 col-md-9 col-lg-9 more-aboutus-content word-spacing-8">
    BioNEST at UoH provides fully furnished and centrally air-conditioned different floor spaces and bench space based on the incubatee requirement. All labs are furnished with state-of-the-art modular lab furniture with sufficient space for reagent storage and sufficient work-bench space. It is also equipped with two 8-seater conference/discussion/meeting rooms with projection facility. University of Hyderabad also provides high speed Internet with on line access to ample collection of subscribed scientific journals and knowledge documents. Each lab is also provided telephone connection with unique extension number. The incubatees are also allowed to access general office facilities. The state-of-art infrastructure and instrument ion of the School of Life Sciences and other Schools of the University of Hyderabad can be availed by incubatees on pay-per-use basis. BioNEST also can enjoy the knowledge pool of eminent faculty as their mentors.


    <div class="more-cont--head">
        Vision & Mission of BioNEST @ UoH
    </div>
    <div class="more-cont--blck">
        <div class="more-cont--sub-head">
            <h3> Vision </h3><div class="line"></div>
        </div>
        Nurture and Promote bio-entrepreneurship of startups in Life Sciences, Biotechnology, Healthcare and Allied Areas.
    </div>
    <div class="more-cont--blck">
      <div class="more-cont--sub-head">
          <h3> Mission </h3><div class="line"></div>
      </div>
      Incubate and support entrepreneurs convert their innovative ideas into scalable R&D, Technologies, and Products of life sciences.
    </div>
    <br>
    <br>

    The University of Hyderabad, a premier institution of post graduate teaching and research in the country, was established by an Act of Parliament (Act No. 39 of 1974) on 2nd October, 1974 as a Central University, Wholly financed by the University Grants Commission.
    <br>
    <br>

    The "objects of the University" as envisaged in the Act are:" to disseminate and advance knowledge by providing instructional and research facilities in such branches of learning as it may deem fit and by the example of its corporate life, and in particular to make special provisions for integrated courses in humanities and science in the educational programmes of the University and to take appropriate measures for promoting inter-disciplinary studies and research in the University."


  </div>

</div>
