<div class="row more more-aboutus">
  <div class="col-md-1 col-lg-1"></div>
  <div
    class="col-xs-12 col-md-10 col-lg-10 more-aboutus-content more-contactus word-spacing-8"
  >
    <div class="row">
      <div class="col-xs-12 col-md-7 col-lg-7">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2344.5137200058534!2d78.31472924381325!3d17.456458494781078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb932271e207d1%3A0xc1b02de7c0ebf26!2sUoH-BioNEST!5e1!3m2!1sen!2sin!4v1519138256225"
          height="100vh"
          frameborder="0"
          style="border:0"
          class="map"
          allowfullscreen="true"
        ></iframe>
      </div>
      <div class="col-xs-12 col-md-5 col-lg-5 contact-pad">
        <div class="main-heading"><span> </span> Contact <span> </span></div>
        <div class="more-cont--head">
          For more details e-mail us
        </div>
        <div class="more-cont--blck">
          For Activities of UoH-BioNEST : ceo-bionest@uohyd.ac.in <br />
          For Business Development : bd-biobest@uohyd.ac.in <br />
          For Information on UoH-BioNEST : info-bionest@uohyd.ac.in <br />
        </div>
        <div class="more-cont--head">
          Address
        </div>
        <div class="more-cont--blck">
          UoH-BioNEST Office <br />
          3rd Floor, School of Life Sciences <br />

          University of Hyderabad <br />

          Gachibowli, Hyderabad - 500046 <br />

          Telangana, INDIA <br />

          Contact Numbers : 040 - 2988 1897 / 1898
        </div>
      </div>
    </div>
    <div class="row">
        <div class="more-cont--head">
            How to Reach BioNEST @ UoH
          </div>
          <div class="more-cont--blck">
            <ol>
              <li>
                By Air: Take a Flight to "Shamshabad Airport" (Airport Code HYD)
                in Hyderabad from anywhere in the world, and take an Airport Taxi
                (Meru, Sky, Ola, Uber, or Private) and inform driver "University
                of Hyderabad after Gachibowli Stadium". Use Outer Ring Road from
                the Airport, and take exit to "Gachibowli" on the Nehru ORR. After
                toll, take a left turn at the Gachibowli Flyover, drive ~3KM.
                After passing IIIT and Gachibowli Stadium on the left, you will
                then reach within 1-2km, you will reach the main gate of
                University of Hyderabad. After obtaining relevant permissions, you
                reach School of Life Sciences by driving through the campus (South
                Campus). BioNEST is located on the 3rd floor of School of Life
                Sciences. About, Move the Concept Competition and Incubation
                Invitations to Programs.
                <br />
              </li>
              <li>
                By Train: From anywhere in India, reach Secunderabad / Kachiguda /
                Hyderabad Railway Stations. You can then get Taxi (Meru, Sky, Ola,
                Uber, or Private) and inform him "University of Hyderabad after
                Gachibowli Stadium". After passing IIIT and Gachibowli Stadium on
                the left, you will then reach within 1-2km, you will reach the
                main gate of University of Hyderabad. After obtaining relevant
                permissions, you reach School of Life Sciences by driving through
                the campus (South Campus). BioNEST is located on the 3rd floor of
                School of Life Sciences.
                <br />
              </li>
              <li>
                By Bus: Take any public transport that goes towards Lingampally /
                BHEL / Pathancheru VIA GACHIBOWLI. Route No. 216/217 are one such
                Bus Service. Get down at the Main gate of University of Hyderabad.
                After obtaining relevant permissions, you reach School of Life
                Sciences by driving through the campus (South Campus). BioNEST is
                located on the 3rd floor of School of Life Sciences. About, Move
                the Concept Competition and Incubation Invitations to Programs.
                <br />
              </li>
            </ol>
          </div>

    </div>
  </div>
  <div class="col-md-1 col-lg-1"></div>
</div>
