<div (scroll)="scrollHandler($event)" data-spy="scroll" data-target=".navbar" data-offset="50">
  <nav class="header--sub">
    <div class="header--sub__left">
      <i class="far fa-envelope-open"></i> &nbsp; reachus@bionest.in &nbsp;
      &nbsp; +91 - 9493026949
    </div>
  </nav>

  <header class="navbar navbar-expand-lg navbar-light bg-light header--main">
    <a class="navbar-brand" href="#">
      <div class="header--left">
        <img
          src="./../assets/images/output-onlinepngtools.png"
          class="header--logo1"
          [routerLink]="['/home']"
        />
        <img
          src="./../assets/images/uoh.png"
          class="header--logo2"
          [routerLink]="['/home']"
        />
      </div>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse header--right" id="navbarNavDropdown">
      <span class="navbar-text">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#aboutus" [routerLink]="['/about']">
              About
            </a>
          </li>
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#facilities" [routerLink]="['/facilities']"> Facilities </a>
          </li>
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#mentors" [routerLink]="['/mentors']"> Mentors </a>
          </li>
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#partners" [routerLink]="['/partners']"> Partners </a>
          </li>
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#services" [routerLink]="['/services']"> Services </a>
          </li>
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#events" [routerLink]="['/events']"> Events </a>
          </li>
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#gallery" [routerLink]="['/gallery']"> Gallery </a>
          </li>
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#downloads" [routerLink]="['/downloads']"> Downloads </a>
          </li>
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#jobs" [routerLink]="['/jobs']"> Jobs </a>
          </li>
          <li class="nav-item header--right__li">
            <a class="nav-link" href="#contact" [routerLink]="['/contact']"> Contact </a>
          </li>
        </ul>
      </span>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="col-12 col-md-12 col-xl-12 bd-sidebar">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


<div class="header">
  <div class="progress-container1" id="progress-container1">
    <div class="progress-bar1" id="myBar1"></div>
  </div>
</div>

<div class="header2">
  <div class="progress-container2" id="progress-container2">
    <div class="progress-bar2" id="myBar2"></div>
  </div>
</div>

<div class="header3">
  <div class="progress-container3" id="progress-container3">
    <div class="progress-bar3" id="myBar3"></div>
  </div>
</div>
