<div class="row more more-aboutus">
    <div class="col-xs-12 col-md-3 col-lg-3">
      <div class="more-aboutus-head" id="more">
        <div class="more-abt--head__txt">Services</div>
        <div class="more-abt--head__txt-sub">
          UoH - Bio-incubator Nurturing Entrepreneurship For Scaling Technologies
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9 more-aboutus-content word-spacing-8">
      <h4> We are working on ........ </h4>
      <div> &nbsp; </div>
      <img src="../../assets/images/labfac/mumgif11.gif">
    </div>
  </div>
