.header--main {
  position: fixed !important;
  z-index: 999;
  top: 40px;
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  @media (max-width: 575.98px) {
    padding: 20px 0px !important;
  }
  .header--left {
    float: left;
    .header--logo1 {
      height: 80px;
      padding: 0px 8px 0px 20px;
      width: 120px;
      cursor: pointer;
      @media (max-width: 575.98px) {
        height: 62px;
        padding: 0px 8px 0px 10px;
        width: 95px;
      }
    }
    .header--logo2 {
      height: 90px;
      cursor: pointer;
      @media (max-width: 575.98px) {
        height: 67px;
      }
    }
  }
  .header--right {
    float: right;
    .navbar-text {
      width: 100%;
      padding: 0px;
      .navbar-nav {
        float: right;
        .header--right__li {
          padding-bottom: 20px;
          padding-top: 25px;
          text-align: center;
          min-width: 95px;
          border-bottom: 5px solid transparent;
          a {
            font-weight: 500;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.8);
          }
          &:hover,
          &:active,
          &:focus {
            border-bottom: 5px solid $secondary;
          }
        }
        .active {
          border-bottom: 5px solid $secondary;
        }
      }
    }
  }
}

.header--sub {
  background: $primary;
  color: $sub-header-text;
  padding: 10px 20%;
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  .header--sub__left {
    font-size: 15px;
  }
}

.body--carousel {
  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    // position: relative;
    // float: left;
    // width:  100px;
    // height: 100px;
    // background-position: 50% 50%;
    // background-repeat:   no-repeat;
    // background-size:     cover;
  }
  .carousel-indicators {
    bottom: 110px;
  }
  .carousel-caption {
    bottom: 135px;
  }
}

.carousel-inner,
.carousel-item {
  height: 81vh;
}

.incubator--grid {
  position: relative;
  top: -110px;
  z-index: 99;
  margin: 0px !important;
  padding: 0 20%;
  .incubator--grid-transparent {
    background: transparent;
  }
  .incubator--grid-stats {
    background: white;
    padding: 40px 30px;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 100%;
    .incub--stats__header {
      text-align: center;
      font-weight: 700;
      color: $secondary;
      font-size: 28px;
    }
  }
}

.aboutus {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: unset;
  background-color: unset;
  border-color: unset;
  border: unset;
  height: 40vh;
  .aboutus--grid {
    margin: 0px !important;
    // background: rgba(27, 41, 69, 0.9);
    height: 40vh;
    background: $primary;
    .aboutus--grid__content {
      padding: 130px 0px;
      color: white;
      .aboutus--grid__content-head {
        color: $secondary;
        font-size: 40px;
        font-weight: 600;
      }
      .aboutus--grid__content-txt {
        font-size: 20px;
        span {
          color: $secondary;
        }
      }
    }
  }
}

.services {
  .services--grid {
    height: 50vh;
    background: $primary;
    padding: 60px 0px;
    margin: 0px;
    h2 {
      color: $secondary;
      font-size: 40px;
      font-weight: 600;
      padding: 20px 20px 30px 10px;
      text-align: center;
    }
    .servc--cont {
      width: 20%;
      display: inline-block;
      padding: 10px;
      .servc--cont__header {
        padding-bottom: 20px;
        color: white;
        font-size: 21px;
        font-weight: 700;
        height: 80px;
      }
    }
    .servc--help {
      color: $lght-blue-txt-clr;
      font-size: 16px;
      font-weight: 400;
      padding: 20px 0;
    }
    .serv--more {
      color: $secondary;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.news-quick--grid {
  margin: 0px !important;
  .news--grid__content,
  .quickactn--grid__content {
    .news--grid__cont-h3,
    .quickactn--grid__cont-h3 {
      display: inline-flex;
      width: 100%;
      padding-top: 40px;
      h3 {
        font-size: 24px;
        font-style: normal;
        text-transform: none;
        letter-spacing: 0px;
        color: $primary;
        padding-right: 30px;
      }
      .line {
        font-size: 24px;
        border-bottom-width: 3px;
        overflow: hidden;
        border-bottom-style: solid;
        padding-top: 0.6em;
        border-color: #e6e6e6;
        width: 60%;
        position: relative;
        top: -16px;
      }
    }
    .news--list {
      padding-top: 20px;
      .fontaws {
        font-size: 50px;
        color: $aluminum;
      }
      .newslist-sub {
        color: $aluminum;
        font-size: 13px;
        font-weight: 600;
        margin-right: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .newslist-head {
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0px;
        color: #444;
        margin-bottom: 25px;
        &:hover {
          color: $secondary;
          cursor: pointer;
        }
      }
    }
  }
  .quickactn--grid__content {
    padding-left: 40px;
    .quickactn--grid__cont-h3 {
      .line {
        width: 50%;
      }
    }
    .quickactn--grid__link {
      .quicklink {
        padding-bottom: 5px;
        margin: 10px;
        color: $secondary;
        border-bottom: 1px solid $gainsboro;
        width: 100%;
        display: block;
      }
    }
  }
}

.learnmore-text-clr {
  color: $secondary;
}

a {
  outline: none !important;
}

img:focus,
a:focus {
  outline: none;
}

.container-fluid{
  margin-top: 160px;
  position: relative;
  z-index: 4;
}

.news--grid__content{
  background: white;
}
