<!-- <div class="row more more-aboutus">
    <div class="col-xs-12 col-md-3 col-lg-3">
      <div class="more-aboutus-head" id="more">
        <div class="more-abt--head__txt">Mentors</div>
        <div class="more-abt--head__txt-sub">
          UoH - Bio-incubator Nurturing Entrepreneurship For Scaling Technologies
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-9 col-lg-9 more-aboutus-content word-spacing-8">
      <h4> We are working on ........ </h4>
      <div> &nbsp; </div>
      <img src="../../assets/images/labfac/mumgif11.gif">
    </div>
  </div>

 -->
<div class="row more more-aboutus">
  <div class="col-md-1 col-lg-1"></div>
  <div
    class="col-xs-12 col-md-10 col-lg-10 more-aboutus-content more-contactus word-spacing-8"
  >
    <div class="main-heading"><span> </span> TEAM <span> </span></div>
    <section class="team-section text-center">
      <p class="grey-text w-responsive mx-auto mb-5">
        Description about the team. We are a group of passionate individuals who
        set out every day to make the world a better place. We are a group of
        passionate individuals who set out every day to make the world a better
        place.
      </p>

      <div class="row text-center">
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 team-grid">
          <div class="avatar mx-auto">
            <img
              src="../../assets/images/TEAM/pr.jpg"
              class="rounded z-depth-1-half team-image"
              alt="Sample avatar"
            />
          </div>
          <h4 class="team--name">Prof. P. Reddanna</h4>
          <h6 class="team--designation">
            Principal Investigator
          </h6>
          <a class="btn-floating btn-sm btn-fb">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn-floating btn-sm btn-dribbble">
            <i class="fab fa-dribbble"></i>
          </a>
          <a class="btn-floating btn-sm btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 team-grid">
          <div class="avatar mx-auto">
            <img
              src="../../assets/images/TEAM/avatars-profile-picture-5.png"
              class="rounded z-depth-1-half team-image"
              alt="Sample avatar"
            />
          </div>
          <h4 class="team--name">Dr. Sridhar</h4>
          <h6 class="team--designation">
            CEO
          </h6>
          <a class="btn-floating btn-sm btn-email">
            <i class="fas fa-envelope"></i>
          </a>
          <a class="btn-floating btn-sm btn-fb">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn-floating btn-sm btn-li">
            <i class="fab fa-linkedin-in "></i>
          </a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 team-grid">
          <div class="avatar mx-auto">
            <img
              src="../../assets/images/TEAM/avatars-profile-picture-5.png"
              class="rounded z-depth-1-half team-image"
              alt="Sample avatar"
            />
          </div>
          <h4 class="team--name">Dr. Anil</h4>
          <h6 class="team--designation">
            scientific officer
          </h6>
          <a class="btn-floating btn-sm btn-li">
            <i class="fab fa-linkedin-in "></i>
          </a>
          <a class="btn-floating btn-sm btn-dribbble">
            <i class="fab fa-dribbble"></i>
          </a>
          <a class="btn-floating btn-sm btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 team-grid">
          <div class="avatar mx-auto">
            <img
              src="../../assets/images/TEAM/avatars-profile-picture-5.png"
              class="rounded z-depth-1-half team-image"
              alt="Sample avatar"
            />
          </div>
          <h4 class="team--name">Dr. Rama Krishna</h4>
          <h6 class="team--designation">
            scientific officer
          </h6>
          <a class="btn-floating btn-sm btn-li">
            <i class="fab fa-linkedin-in "></i>
          </a>
          <a class="btn-floating btn-sm btn-email">
            <i class="fas fa-envelope"></i>
          </a>
          <a class="btn-floating btn-sm btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 team-grid">
          <div class="avatar mx-auto">
            <img
              src="../../assets/images/TEAM/kus.jpg"
              class="rounded z-depth-1-half team-image"
              alt="Sample avatar"
            />
          </div>
          <h4 class="team--name">S. Kuswanth Kumar</h4>
          <h6 class="team--designation">
            Technical Officer
          </h6>
          <a class="btn-floating btn-sm btn-fb">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn-floating btn-sm btn-li">
            <i class="fab fa-linkedin-in "></i>
          </a>
          <a class="btn-floating btn-sm btn-tw">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 team-grid">
            <div class="avatar mx-auto">
              <img
                src="../../assets/images/TEAM/avatars-profile-picture-5.png"
                class="rounded z-depth-1-half team-image"
                alt="Sample avatar"
              />
            </div>
            <h4 class="team--name">Prasadh</h4>
            <h6 class="team--designation">
              MTO
            </h6>
            <a class="btn-floating btn-sm btn-fb">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn-floating btn-sm btn-li">
                <i class="fab fa-linkedin-in "></i>
            </a>
            <a class="btn-floating btn-sm btn-tw">
              <i class="fab fa-twitter"></i>
            </a>
          </div>

      </div>
    </section>
  </div>
  <div class="col-md-1 col-lg-1"></div>
</div>
